<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>874565454144-boenmbjhhso0q2j8qhbl14hvr3i69n4k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.874565454144-boenmbjhhso0q2j8qhbl14hvr3i69n4k</string>
	<key>API_KEY</key>
	<string>AIzaSyA1gYzXHDQkny3HatuGSDS_UitYnaEJRlE</string>
	<key>GCM_SENDER_ID</key>
	<string>874565454144</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fedorfilimonov.VKClient</string>
	<key>PROJECT_ID</key>
	<string>vk-app-4c5bd</string>
	<key>STORAGE_BUCKET</key>
	<string>vk-app-4c5bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874565454144:ios:4e64b445f0e3c9fb5452a5</string>
	<key>DATABASE_URL</key>
	<string>https://vk-app-4c5bd.firebaseio.com</string>
</dict>
</plist>